<!--{{studentDossiers | json}}-->
<div class="student-dossier-header">
    <h1>Student Dossier
        <mat-icon (click)="studentDossierHeaderClick()" class="mat-icon">info</mat-icon>
    </h1>
    <hr>
</div>
<div *ngFor="let student of studentDossiers; let i=index">
    <!--{{student | json}}-->
    <app-student-dossier (deleteStudentDossier)="deleteStudentDossier($event, i)"
                         [studentDossier]="student">
    </app-student-dossier>
</div>