<mat-card class="student-dossier-card">
    <mat-card-header>
        <img [alt]="studentDossier.lastName + 'photo'" [src]="studentDossier.image" class="header-image"
             mat-card-avatar/>
        <mat-card-title>{{studentDossier.firstName}} {{studentDossier.lastName}}</mat-card-title>
        <mat-card-subtitle>Course: {{studentDossier.subject}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            <label class="bold-text">Email: </label>
            <span>{{studentDossier.email}}</span>
        </p>
        <p>
            <label class="bold-text">Birthday: </label>
            <span>{{studentDossier.birthday  | date}}</span>
        </p>
        <p>
            <label class="bold-text">Points: </label>
            <mat-form-field>
                <input [(ngModel)]="studentDossier.points" [max]="maxPoints" matInput min="0" type="number">
            </mat-form-field>
            <!-- <span>{{studentDossier.points | number:'.2-2'}}</span>-->
            <!--            [style.color]="grade === 5 ? 'red' : 'green'"-->
        </p>
        <p *ngIf="(studentDossier.points | pointsScale:(10 / maxPoints)) as grade">
            <label class="bold-text">Grade: </label>
            <span [class.invalid]="grade === 5">{{grade === 5 ? 'FAILED' : grade}}</span>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="deleteStudentDossierClick()" color="warn" mat-raised-button>Delete</button>
    </mat-card-actions>
</mat-card>
